---
// Example: src/pages/post/[pid].astro
export async function getStaticPaths() {
  return [
    { params: { pid: "1" } },
    { params: { pid: "2" } }
  ];
}
const {pid} = Astro.params;
---
<p>Post: {pid}</p>
