---
const {text} = Astro.props
---

<h1 class="c-heading-1"><a href="https://astro.build/" target="_blank">astro!</a> {text}</h1>
<style>
  .c-heading-1 {
    font-size: 40px;
    font-weight: bold;
    color: aquamarine;
  }
</style>
