<div class="welcome-contents">
  <header>
    <slot name="header" />
    <img src="/img/astro.jpg" alt="">
    <slot />
  </header>
</div>

<style lang="scss">
.welcome-contents {
  color: blueviolet;
}
</style>
